.bg-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.015em;
    margin-bottom: 40px;
    margin-top: 30px;
    color: #000000;
}

.left label,
.right label {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 26px;
    color: #0F715C;
}

.left span,
.right span {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.q-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.015em;
    margin: 30px 0 40px 0 ;
    color: #000000;
}